*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background: linear-gradient(135deg, #bdefff, #dffcff, #c7fff2);
    min-height:100vh;
    color:#111;
}

/* HEADER */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 50px;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(10px);
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.topo-logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo-header{
    width:90px;
    height:auto;
    object-fit:contain;
}

header h1{
    font-size:32px;
    color:#111;
}

header a{
    color:#111;
    text-decoration:none;
    font-weight:bold;
}

/* MENU */

.menu-direita{
    display:flex;
    align-items:center;
    gap:20px;
}

.carrinho-link{
    font-weight:bold;
}

/* CONTAINER */

.container{
    width:400px;
    margin:80px auto;
    background: rgba(255,255,255,0.45);
    padding:40px;
    border-radius:25px;
    text-align:center;
    backdrop-filter: blur(10px);
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.logo{
    width:170px;
    height:auto;
    margin-bottom:20px;
    object-fit:contain;
}

.container h1{
    margin-bottom:30px;
    color:#111;
}

input{
    width:100%;
    padding:15px;
    margin-bottom:20px;
    border:none;
    border-radius:15px;
    background:white;
    color:#111;
    font-size:15px;
}

input::placeholder{
    color:#555;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:30px;
    background: linear-gradient(90deg,#63dfff,#74f0d3);
    color:#111;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{ /*pra quando passar o mouse, ele aumenta levemente o tamanho*/
    transform:scale(1.05);
}

.links{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.links a{
    color:#111;
    text-decoration:none;
    font-weight:600;
}

.links a:hover{
    opacity:0.7;
}

.erro{
    margin-top:15px;
    color:#d60000;
    font-weight:bold;
}

.sucesso{
    margin-top:15px;
    color:#008f5a;
    font-weight:bold;
}

/* PERFIL */

.perfil{
    width:80%;
    margin:30px auto;
    background: rgba(255,255,255,0.45);
    padding:25px;
    border-radius:25px;
    color:#111;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.infos{ /*exemplo: nome e nivel do usuário*/
    display:flex;
    justify-content:space-between;
    margin-top:15px;
    font-weight:600;
}

.barra{
    width:100%;
    height:25px;
    background:#d9d9d9;
    border-radius:20px;
    overflow:hidden;
    margin-top:15px;
}

.progresso{
    height:100%;
    background: linear-gradient(90deg,#63dfff,#74f0d3);
}

/* PRODUTOS */

.cards{ /*coloca os produtos lado a lado*/
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin:50px;
}

.card{
    width:300px;
    background: rgba(255,255,255,0.45);
    padding:25px;
    border-radius:25px;
    text-align:center;
    transition:0.3s;
    color:#111;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.card:hover{
    transform:translateY(-10px);
}

.produto-img{
    width:100%;
    height:220px;
    object-fit:contain;
    border-radius:20px;
    margin-bottom:15px;
    background:white;
    padding:10px;
}

.card h3{
    margin-bottom:10px;
}

.card p{
    margin-bottom:15px;
    color:#333;
}

.preco{
    display:block;
    margin-bottom:15px;
    font-size:20px;
    font-weight:bold;
}

.botoes-produto{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.comprar-agora{
    width:100%;
}

/* QUIZ */

.quiz{
    width:80%;
    margin:50px auto;
    background: rgba(255,255,255,0.45);
    padding:30px;
    border-radius:25px;
    text-align:center;
    color:#111;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.quiz h2{
    margin-bottom:20px;
}

.quiz h3{
    margin-bottom:15px;
}

.quiz p{
    margin-bottom:20px;
}

.quiz button{
    margin:10px;
}

/* SOBRE A EMPRESA */

.sobre-container{
    width:90%;
    margin:60px auto;
    display:flex;
    gap:30px;
    flex-wrap:wrap;
    justify-content:center;
}

.sobre-card{
    flex:1;
    min-width:320px;
    background: rgba(255,255,255,0.45);
    padding:30px;
    border-radius:25px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    color:#111;
}

.sobre-card h2{
    margin-bottom:20px;
}

.sobre-card p{
    line-height:1.8;
}

/* CONTATOS */

.contatos-container{
    width:90%;
    margin:50px auto 80px;
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.contato-box{
    width:280px;
    background: rgba(255,255,255,0.45);
    padding:30px;
    border-radius:25px;
    text-align:center;
    text-decoration:none;
    color:#111;
    transition:0.3s;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.contato-box:hover{
    transform:translateY(-8px);
}

.contato-box h3{
    margin-bottom:15px;
    font-size:24px;
}

.contato-box p{
    font-size:13px;
    line-height:1.7;
    word-break:break-word;
}

/* FOOTER */

footer{ /*centraliza o texto do radapé*/
    text-align:center;
    padding:30px;
    color:#111;
    font-weight:600;
}

/* RESPONSIVO */ /*para as abas ficarem adaptáveis pra celular ou computadores*/

@media(max-width:768px){

    header{
        flex-direction:column;
        gap:20px;
    }

    .container{
        width:90%;
    }

    .infos{
        flex-direction:column;
        gap:10px;
    }

    .cards{
        margin:20px;
    }

    .card{
        width:100%;
    }

    .produto-zoom{
    width:100%;
    max-width:450px;
    height:auto;
    object-fit:contain;
    margin-bottom:25px;
}

}

/* BONEQUINHA */

#mascote{
    display:flex;
    align-items:center;
}

#glossBot{
    width:60px;
    height:auto;
    cursor:pointer;
    transition:0.3s;
    animation:flutuar 2s infinite ease-in-out;
}

#glossBot:hover{
    transform:scale(1.1);
}

@keyframes flutuar{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-5px);
    }

    100%{
        transform:translateY(0);
    }

}

/* CHATBOT */

#chatbot{
   position:fixed;
   bottom:150px;
   right:20px;
   width:320px;
   background:white;
   border-radius:20px;
   padding:20px;
   display:none;
   box-shadow:0 4px 15px rgba(0,0,0,0.2);
   z-index:9999;
}

.chat-header{
   font-size:20px;
   font-weight:bold;
   margin-bottom:15px;
}

#pergunta{
   width:100%;
   margin-top:15px;
}

#resposta{
   min-height:80px;
   line-height:1.5;
}

#mensagens{
    height:250px;
    overflow-y:auto;
    margin-bottom:15px;
}

.mensagem-bot{
    background:#e9f7ff;
    padding:10px;
    border-radius:12px;
    margin-bottom:10px;
    max-width:80%;
}

.mensagem-user{
    background:#63dfff;
    padding:10px;
    border-radius:12px;
    margin-bottom:10px;
    margin-left:auto;
    max-width:80%;
}

/* FORUM */

.forum{
    width:90%;
    max-width:1000px;
    margin:60px auto;
    background:rgba(255,255,255,0.45);
    padding:35px;
    border-radius:25px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.forum h2{
    text-align:center;
    margin-bottom:25px;
    font-size:32px;
}

.forum textarea{
    width:100%;
    min-height:120px;
    padding:18px;
    border:none;
    border-radius:18px;
    background:white;
    font-size:16px;
    resize:none;
    box-shadow:0 2px 8px rgba(0,0,0,0.08);
}

.forum button{
    margin-top:15px;
}

.postagem{
    background:white;
    margin-top:20px;
    padding:20px;
    border-radius:20px;
    box-shadow:0 3px 10px rgba(0,0,0,0.08);
}

.postagem h4{
    color:#00a8d8;
    font-size:18px;
    margin-bottom:5px;
}

.postagem small{
    color:#777;
    display:block;
    margin-bottom:12px;
}

.postagem p{
    font-size:16px;
    line-height:1.7;
    word-break:break-word;
}

.postagem a{
    text-decoration:none;
}

.postagem a button{
    margin-top:15px;
    background:#ff6b6b;
    color:white;
}
